/*CSS*/

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.googlepic {
    padding-bottom: 20px;
    padding-top: 200px;
}
.searchbox{
    width: 600px;
    height: 35px;
    border-radius: 30px;
    border-width: 2px;
    border-color: rgb(209, 209, 209);
    
}
.searchbox:focus{
    outline: transparent;
    border-width: 3px; 
}
.searchbox:hover{
    border-width: 3px;
}
.searchbuttons {
    margin: 10px;
    margin-top: 30px;
    width: 120px;
    height: 45px;
    background-color: rgb(231, 231, 231);
    border-color: transparent;
    color:rgb(51, 51, 51);
}
.searchbuttons:hover{
    border-color: rgb(189, 189, 189);
    cursor: pointer;
}

.navbar{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 10px;
    width: 100%;
    justify-content: flex-end;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color:black;
    text-decoration: underline;
}
.googleapp{
    width: 20px;
    height: 20px;

}
.googleapp:hover{
    background-color: rgb(97, 97, 97);
    
}
.logbutton{
    border: none;
    background-color: rgba(52, 52, 252, 0.884);
    color: white;
    border-radius: 5%;
    width: 120px;
    height: 35px;
}
.logbutton:hover{
    background-color: rgba(85, 85, 255, 0.884);
    cursor: pointer;
}
footer{
    background-color: rgb(204, 204, 204);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    border-color: rgb(161, 161, 161);
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.push {
    margin-left: auto;
}
.push1 {
    margin-left: 450px;
}

.footer{
    color: rgb(97, 97, 97);
}
.footer:hover{
    color:rgb(97, 97, 97);
}

}
body{
    display:flex; 
    flex-direction:column; 
}
header{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}
.righth {
    justify-content: right;
}
